<h1>Welcome {{user.firstName}}</h1>
<h4>Your Stories</h4>

{{#if stories}}
<table class="striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Date</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each stories}}
		<tr>
			<td><a href="/stories/show/{{this.id}}">{{this.title}}</a></td>
			<td>{{formatDate this.date 'MMMM do YYYY'}}</td>
			<td><span class="dash-status">{{this.status}}</span></td>
			<td>
				<a class="btn left-align" href="/stories/edit/{{this.id}}"><i style="font-size: 14px"
						class="fas fa-pencil-alt"></i> Edit</a>

				<form action="/stories/{{this.id}}?_method=DELETE" method="post" class="delete-form">
					<button type="submit" class="btn red valign-wrapper"><i style="font-size: 14px" class="fas fa-minus-circle"></i> Delete</button></form>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{else}}
<p>You have not created any stories yet</p>
{{/if}}